body{
    color: rgb(242, 242, 242);
    background-color: rgb(19, 19, 19);
}

h1{
    text-align: center;
}
.split {
    height: 70%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 75;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  
  .centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  #bottomTag{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    bottom: -300;
    padding-bottom: 100px;
  }

  a{
    color: rgb(242, 242, 242);
    text-decoration-line: underline;
  }
  a:hover{
    font-size: 135%;
    font-weight: bold;
    color:black;
    background-color: rgb(240, 240, 240);
  }

  #noline{
    text-decoration-line: none;
  }


  @media screen and (max-width: 480px){
    body{
      background-color: rgb(242, 242, 242);
      color: rgb(19, 19, 19);
    }
    a{
      color: rgb(19, 19, 19);
      text-decoration-line: underline;
    }
    a:hover{
      font-weight: bold;
      color:white;
      background-color:rgb(19, 19, 19);
    }
    #noline{
      color: rgb(242, 242, 242);
      text-decoration-line: none;
    }
  }
