body{
    color: white;
    background-color: rgb(31, 31, 31);
}

p{
}
h1{
    text-align: center;
}
.split {
    height: 70%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 75;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-image: url("img/digital.jpg");
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-image: url(/Users/oleksandr/Documents/GitHub/ohorban.github.io/img/filmimg.jpg);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  #bottomTag{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    bottom: 0;
  }

  a{
      color: white;
      text-decoration-line: none;
  }
