body{
    color: rgb(242, 242, 242);
    background-color: rgb(19, 19, 19);
}

h1{
    text-align: center;
}
.split {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 7%;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  
  .centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  #bottomTag{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 100%;
    padding-bottom: 50px;
  }

  a{
    color: rgb(242, 242, 242);
    text-decoration-line: underline;
  }
  a:hover{
    font-size: 115%;
    font-weight: bold;
    color:black;
    background-color: rgb(240, 240, 240);
  }

  #noline{
    text-decoration-line: none;
  }


  @media screen and (max-width: 480px){
    body{
      background-color: rgb(242, 242, 242);
      color: rgb(19, 19, 19);
    }
    a{
      color: rgb(19, 19, 19);
      text-decoration-line: underline;
    }
    a:hover{
      font-weight: bold;
      color:white;
      background-color:rgb(19, 19, 19);
    }
    #noline{
      color: rgb(242, 242, 242);
      text-decoration-line: none;
    }

    .split {
      height: 30%;
      width: 50%;
      position: absolute;
      z-index: 1;
      top: 10%;
      overflow-x: hidden;
      padding-top: 20px;
    }

    .centered {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    img{
      height: 100%;
      width: 100%;
    }

    #bottomTag{
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      top: 70%;
      padding-bottom: 50px;
    }
  }
